.bordercenter {
	width: auto;
	margin: auto;
}

.border01 {
	border: 24px solid transparent;
    padding: 0px;
	width: 25%;
	min-width: 128px;
    border-image: url('../images/BORDERS/0001.png');
	border-image-slice: 49% fill;
    border-image-repeat: repeat;
	text-align: left;
}