.bordercenter {
	width: auto;
	margin: auto;
}

.textcenter {
	text-align: center;
}

.border01 {
	border: 24px solid transparent;
    padding: 0px;
	width: 75%;
	min-width: 128px;
	border-image: url('../images/BORDERS/0001.png');
	border-image-slice: 49% fill;
    border-image-repeat: repeat;
}

.border02 {
	border: 24px solid transparent;
    padding: 0px;
	width: 75%;
	min-width: 128px;
	border-image: url('../images/BORDERS/0002.png');
	border-image-slice: 49% fill;
    border-image-repeat: repeat;
}

.border03 {
	border: 24px solid transparent;
    padding: 0px;
	width: 75%;
	min-width: 128px;
	border-image: url('../images/BORDERS/0003.png');
	border-image-slice: 49% fill;
    border-image-repeat: repeat;
}

.border04 {
	border: 24px solid transparent;
    padding: 0px;
	width: 75%;
	min-width: 128px;
	border-image: url('../images/BORDERS/0004.png');
	border-image-slice: 49% fill;
    border-image-repeat: repeat;
}